body
	margin: 0
	font-family: 'montserratregular', 'open sans', sans-serif
	ul
		margin: 0
		li
			list-style: none
	a
		color: initial

@import "base/typography"
@import "base/header"
@import "base/footer"
