// Variables
$color-primary: #38208C
$color-secondary: #33EFFF

// Helpers
.text-left-to-center-small
  text-align: left
  @media only screen and (max-width: 40rem)
    text-align: center !important

.text-right-to-center-small
  text-align: right
  @media only screen and (max-width: 40rem)
    text-align: center

// Flexbox Helpers
.flex
	display: flex

.flex-wrap
	flex-wrap: wrap

.justify-flex-end-to-small-center
	justify-content: flex-end
	@media only screen and (max-width: 40rem)
		justify-content: center

.flex-items-center
	align-items: center

// Mixins
=transition($time)
  -webkit-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  -moz-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  -ms-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  -o-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  transition: all $time cubic-bezier(0.42, 0, 0.58, 1)

// Basics
body
	margin: 0
	font-family: 'montserratregular', 'open sans', sans-serif
	ul
		margin: 0
		li
			list-style: none
	a
		color: initial
		+transition(200ms)
		&:hover,
		&:focus
			color: $color-primary

@import "base/typography"
@import "base/components"
@import "base/header"
@import "base/footer"
@import "pages/homepage"
