// Components
body
	.button-primary
		background-color: #15A689
		text-transform: uppercase
		color: white
		font-family: 'montserratbold'
		font-size: 26px
		padding: 8px 20px 5px
		&:hover,
		&:focus
			background-color: white
			color: #15A689
	.card
		display: inline-block
		background-color: $color-primary
		color: white
		padding: 40px
