// Footer
footer
	background-color: black
	color: white
	ul li
		display: inline-block
		a
			color: white
	.logo-decoy-negativo
		width: 274px
	.footer-socialmedia-icons
		width: 185px
		display: flex
		img
			max-width: 35px
			max-height: 35px
