.text-left-to-center-small {
  text-align: left; }
  @media only screen and (max-width: 40rem) {
    .text-left-to-center-small {
      text-align: center !important; } }

.text-right-to-center-small {
  text-align: right; }
  @media only screen and (max-width: 40rem) {
    .text-right-to-center-small {
      text-align: center; } }

@media only screen and (min-width: 64rem) {
  .visible-mobile-only {
    display: none !important; } }

@media only screen and (max-width: 64rem) {
  .visible-mobile-only {
    display: block; } }

@media only screen and (min-width: 40rem) {
  .visible-mobile-small-only {
    display: none !important; } }

@media only screen and (max-width: 40rem) {
  .visible-mobile-small-only {
    display: block; } }

.flex {
  display: flex; }

.wrap {
  flex-wrap: wrap; }

.justify-flex-end-to-small-center {
  justify-content: flex-end; }
  @media only screen and (max-width: 40rem) {
    .justify-flex-end-to-small-center {
      justify-content: center; } }

.flex-items-center {
  align-items: center;
  height: 100%; }

body {
  margin: 0;
  font-family: 'montserratregular', 'open sans', sans-serif;
  color: #4D4D4D; }
  body ul {
    margin: 0; }
    body ul li {
      list-style: none; }
  body a {
    color: initial;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); }
    body a:hover, body a:focus {
      color: #38208C; }

* {
  background-repeat: no-repeat; }
  *:before, *:after {
    background-repeat: no-repeat; }

@font-face {
  font-family: 'montserratextralight';
  src: url("../fonts/montserrat-extralight-webfont.woff2") format("woff2"), url("../fonts/montserrat-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratmedium';
  src: url("../fonts/montserrat-medium-webfont.woff2") format("woff2"), url("../fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratsemibold';
  src: url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratextrabold';
  src: url("../fonts/montserrat-extrabold-webfont.woff2") format("woff2"), url("../fonts/montserrat-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratblack';
  src: url("../fonts/montserrat-black-webfont.woff2") format("woff2"), url("../fonts/montserrat-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body .sec {
  padding: 60px 0; }

body .button-primary {
  background-color: #15A689;
  text-transform: uppercase;
  color: white;
  font-family: 'montserratbold';
  font-size: 20px;
  padding: 8px 20px 5px;
  display: inline-block; }
  body .button-primary:hover, body .button-primary:focus {
    color: white;
    background-color: #128f76; }
  body .button-primary.margin {
    margin-top: 80px; }

body .button-secondary {
  background-color: #1991AC;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  padding: 14px 30px 12px;
  display: inline-flex;
  align-items: center; }
  body .button-secondary b {
    font-family: 'montserratbold'; }
  body .button-secondary:hover, body .button-secondary:focus {
    color: white;
    background-color: #167e96; }

body .card {
  display: inline-block;
  background-color: #38208C;
  color: white;
  padding: 30px; }

body .highlight {
  font-family: 'montserratbold'; }
  body .highlight--style1 {
    background-color: #33EFFF; }
  body .highlight--style2 {
    display: inline-block;
    position: relative;
    z-index: 1; }
    body .highlight--style2:before {
      content: "";
      display: block;
      bottom: 6px;
      height: 12px;
      width: 100%;
      position: absolute;
      z-index: -1;
      background-color: #33EFFF;
      opacity: 0.5; }

body .section-title {
  color: #38208C;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 60px; }

body article .article-title {
  font-family: 'montserratbold';
  color: #38208C;
  text-transform: uppercase; }

body article .article-paragraph {
  font-size: 19px; }

body .paragraph {
  font-size: 19px; }

body .quote {
  color: #38208C;
  font-size: 24px;
  position: relative;
  padding-left: 92px; }
  body .quote:before, body .quote:after {
    content: "";
    display: block;
    width: 72px;
    height: 57px;
    background-size: contain;
    position: absolute; }
  body .quote:before {
    background-image: url("../images/icons/icon-quote-open@2x.png");
    top: -28px;
    left: 0; }
  body .quote:after {
    background-image: url("../images/icons/icon-quote-close@2x.png");
    bottom: -28px;
    right: 0; }

body .scroll {
  overflow-y: scroll;
  width: 100%;
  height: 640px;
  margin-bottom: 70px; }
  body .scroll .item {
    width: calc(100% - 30px);
    margin-bottom: 30px; }

body .owl-carousel {
  width: 90%;
  margin: auto; }

@media only screen and (max-width: 40rem) {
  body .sec {
    padding: 40px 0; }
  body .button-secondary {
    font-size: 26px; }
  body .highlight--style2:before {
    bottom: 3px;
    height: 6px; }
  body .section-title {
    font-size: 30px;
    margin-bottom: 30px; }
  body article .article-paragraph {
    font-size: 14px; }
  body .quote {
    font-size: 22px;
    padding-left: 46px; }
    body .quote:before, body .quote:after {
      width: 36px;
      height: 28px; }
    body .quote:after {
      right: 36px; }
  body .paragraph {
    font-size: 16px; }
  body .flex {
    flex-direction: column; }
  body .scroll {
    height: initial;
    margin-bottom: 0; }
    body .scroll .item:last-child {
      margin-bottom: 0; } }

.owl-carousel {
  position: relative; }
  .owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: unset; }
  .owl-carousel .owl-prev,
  .owl-carousel .owl-next {
    position: absolute;
    top: 125px; }
    .owl-carousel .owl-prev span,
    .owl-carousel .owl-next span {
      display: block;
      font-size: 0;
      width: 45px;
      height: 90px;
      background-size: contain; }
  .owl-carousel .owl-prev {
    left: -60px; }
    .owl-carousel .owl-prev span {
      background-image: url("../images/icons/icon-nav-left@2x.png"); }
  .owl-carousel .owl-next {
    right: -60px; }
    .owl-carousel .owl-next span {
      background-image: url("../images/icons/icon-nav-right@2x.png"); }
  .owl-carousel .owl-item {
    text-align: center; }
  .owl-carousel .carousel-title {
    font-family: 'montserratbold';
    color: #38208C;
    text-transform: uppercase;
    margin-top: 50px; }
  .owl-carousel .carousel-subtitle {
    font-size: 16px;
    color: #4D4D4D; }

header .header-phone {
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'montserratsemibold';
  font-size: 16px;
  color: #38208C;
  padding-right: 43px;
  position: relative; }
  header .header-phone:after {
    position: absolute;
    right: 0;
    top: -2px;
    content: "";
    background-image: url("../images/icons/icon-phone@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 26px;
    height: 26px; }

header nav {
  width: 100%; }
  header nav ul li {
    display: inline-block; }
    header nav ul li a {
      text-transform: uppercase;
      color: #38208C;
      font-family: 'montserratsemibold';
      font-size: 16px;
      margin-right: 26px; }
  header nav.active {
    max-height: 40em; }

header .logo-decoy {
  width: 270px; }

@media only screen and (max-width: 75rem) {
  header .logo-decoy {
    width: 200px; } }

@media only screen and (max-width: 40rem) {
  header nav ul {
    width: 100%; }
    header nav ul li {
      display: block; }
      header nav ul li a {
        margin-right: 0; }
  header nav .button-primary {
    width: 100%;
    text-align: center; }
  header .flex {
    flex-wrap: wrap;
    flex-direction: initial;
    justify-content: space-evenly; } }

footer {
  background-color: black;
  color: white;
  padding-top: 100px; }
  footer ul li {
    display: inline-block; }
    footer ul li a {
      color: white;
      margin-right: 26px;
      text-transform: uppercase;
      font-family: 'montserratsemibold';
      font-size: 16px; }
    footer ul li:last-child a {
      margin-right: 0px; }
  footer .logo-decoy-negativo {
    width: 274px;
    margin-bottom: 100px; }
  footer .footer-socialmedia-icons {
    width: 185px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px; }
    footer .footer-socialmedia-icons img {
      max-width: 30px;
      max-height: 30px; }
  footer .footer-highlight {
    font-family: 'montserratsemibold';
    font-size: 20px;
    margin-bottom: 16px; }
  footer address {
    font-family: 'montserratlight';
    font-size: 16px;
    font-style: normal; }
  footer .footer-copyright {
    padding: 80px 0; }
  @media only screen and (max-width: 40rem) {
    footer {
      text-align: center;
      padding-top: 80px; }
      footer ul li {
        display: block; }
        footer ul li a {
          margin-right: 0; }
      footer .logo-decoy-negativo {
        margin-bottom: 50px; }
      footer .footer-socialmedia-icons {
        margin-top: 50px; }
      footer .footer-highlight {
        font-size: 15px; }
      footer .flex {
        align-items: center; }
      footer address {
        font-size: 14px; }
      footer .footer-copyright {
        padding: 50px 0 80px; } }

.menu-toggle {
  display: none; }

@media only screen and (max-width: 40rem) {
  .menu-toggle {
    display: block; }
    .menu-toggle img {
      max-width: 34px; }
  nav {
    clear: both;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    nav.active {
      max-height: 15em; }
    nav li a {
      display: block;
      padding: 0.8em;
      border-bottom: 1px solid #808080; }
    nav li:last-child a {
      border-bottom: none; }
  .js nav {
    overflow: hidden;
    max-height: 0; } }

.homepage .sec--hero {
  background-image: url("../images/hero-section-bg@2x.png");
  background-position: top center;
  background-size: cover;
  padding: 65px 0 80px; }
  .homepage .sec--hero .hero-title {
    font-family: 'montserratextralight';
    font-size: 60px;
    line-height: 0.8; }
    .homepage .sec--hero .hero-title b {
      font-family: 'montserratbold'; }
  .homepage .sec--hero .hero-subtitle {
    font-family: 'montserratmedium';
    font-size: 26px;
    line-height: 1.3; }
  .homepage .sec--hero .card {
    margin-top: 150px;
    position: relative;
    left: -40px; }
  .homepage .sec--hero .hero-list {
    margin: 50px 0;
    font-family: 'montserratbold';
    font-size: 26px;
    color: #38208C; }
  @media only screen and (max-width: 64rem) {
    .homepage .sec--hero {
      background-position: top left; }
      .homepage .sec--hero .hero-title {
        font-size: 40px; }
      .homepage .sec--hero .hero-subtitle {
        font-size: 16px; }
      .homepage .sec--hero .card {
        margin-top: 80px;
        left: 0; } }

.homepage .sec:nth-child(2) {
  padding: 90px 0 60px; }
  .homepage .sec:nth-child(2) article {
    width: 355px;
    margin: auto; }
    .homepage .sec:nth-child(2) article img {
      width: 92px;
      margin-bottom: 50px; }
  @media only screen and (max-width: 40rem) {
    .homepage .sec:nth-child(2) article {
      width: initial; }
      .homepage .sec:nth-child(2) article img {
        margin: 50px auto 25px; }
      .homepage .sec:nth-child(2) article .article-title {
        font-size: 22px; } }

.homepage .sec:nth-child(3) {
  background-color: #38208C;
  background-image: url("../images/section-3-bg@2x.png");
  background-position: center right;
  background-size: contain;
  background-blend-mode: screen;
  color: white; }
  .homepage .sec:nth-child(3) .section-title {
    color: white;
    padding-top: 35px; }

.homepage .sec:nth-child(4) {
  background-image: url("../images/section-4-bg-complete@2x.png");
  background-position: center;
  background-size: cover;
  padding: 85px 0 190px; }
  .homepage .sec:nth-child(4) .card {
    background: white;
    width: 492px;
    padding: 55px 45px;
    color: #4D4D4D;
    overflow: visible; }
    .homepage .sec:nth-child(4) .card ul li {
      font-family: 'montserratbold';
      font-family: 22px;
      text-transform: uppercase;
      margin-bottom: 57px;
      position: relative; }
      .homepage .sec:nth-child(4) .card ul li:last-child {
        margin-bottom: 0; }
      .homepage .sec:nth-child(4) .card ul li:before {
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        background-image: url("../images/icons/icon-check@2x.png");
        background-size: contain;
        position: absolute;
        left: -64px; }
  @media only screen and (max-width: 40rem) {
    .homepage .sec:nth-child(4) {
      background-position: right; }
      .homepage .sec:nth-child(4) .card {
        width: 90%;
        padding: 45px 35px; }
        .homepage .sec:nth-child(4) .card ul li:before {
          left: -54px; } }

.homepage .sec:nth-child(5) {
  padding: 60px 0 90px; }
  .homepage .sec:nth-child(5) .grid-x:first-child {
    margin-bottom: 100px; }
  .homepage .sec:nth-child(5) .flex {
    align-items: flex-end;
    height: 100%; }
  .homepage .sec:nth-child(5) .section-title {
    margin-bottom: 0;
    line-height: 1; }
  .homepage .sec:nth-child(5) img {
    width: 442px; }
  .homepage .sec:nth-child(5) article {
    width: initial;
    margin-left: 65px;
    margin-right: 45px; }
    .homepage .sec:nth-child(5) article .article-paragraph {
      position: relative; }
      .homepage .sec:nth-child(5) article .article-paragraph:before {
        display: block;
        font-family: 'montserratbold';
        font-size: 80px;
        color: #38208C;
        height: 90px;
        position: absolute;
        left: -65px;
        width: 45px;
        text-align: right; }
  .homepage .sec:nth-child(5) .large-4:nth-child(1) article .article-paragraph:before {
    content: "1"; }
  .homepage .sec:nth-child(5) .large-4:nth-child(2) article .article-paragraph:before {
    content: "2"; }
  .homepage .sec:nth-child(5) .large-4:nth-child(3) article .article-paragraph:before {
    content: "3"; }
  @media only screen and (max-width: 40rem) {
    .homepage .sec:nth-child(5) .grid-x:first-child,
    .homepage .sec:nth-child(5) .section-title {
      margin-bottom: 60px; }
    .homepage .sec:nth-child(5) img {
      width: initial; }
    .homepage .sec:nth-child(5) .large-4 article {
      margin-bottom: 40px; }
      .homepage .sec:nth-child(5) .large-4 article .article-paragraph:before {
        font-size: 60px;
        height: 45px; }
    .homepage .sec:nth-child(5) .large-4:last-child article {
      margin-bottom: 0; } }

.homepage .sec:nth-child(6) {
  background-color: #E6E6E6; }
  .homepage .sec:nth-child(6) .flex {
    padding-top: 45px; }
  .homepage .sec:nth-child(6) article {
    width: calc(50% - 187px);
    margin-left: 127px;
    position: relative; }
    .homepage .sec:nth-child(6) article:before {
      display: block;
      content: "";
      width: 93px;
      height: 92px;
      position: absolute;
      left: -127px;
      background-size: contain;
      background-repeat: no-repeat; }
    .homepage .sec:nth-child(6) article:nth-child(-n+2) {
      margin-bottom: 90px; }
    .homepage .sec:nth-child(6) article:nth-child(odd) {
      margin-right: 60px; }
    .homepage .sec:nth-child(6) article:nth-child(1):before {
      background-image: url("../images/icons/icon-biologico@2x.png"); }
    .homepage .sec:nth-child(6) article:nth-child(2):before {
      background-image: url("../images/icons/icon-economico@2x.png"); }
    .homepage .sec:nth-child(6) article:nth-child(3):before {
      background-image: url("../images/icons/icon-saude@2x.png"); }
    .homepage .sec:nth-child(6) article:nth-child(4):before {
      background-image: url("../images/icons/icon-eficiente@2x.png"); }
    .homepage .sec:nth-child(6) article .article-title {
      font-family: 'montserratextrabold'; }
  @media only screen and (max-width: 40rem) {
    .homepage .sec:nth-child(6) article {
      width: initial; }
      .homepage .sec:nth-child(6) article:nth-child(-n+2) {
        margin-bottom: initial; }
      .homepage .sec:nth-child(6) article:nth-child(odd) {
        margin-right: initial; } }

.homepage .sec:nth-child(7) {
  background-color: #38208C;
  color: white; }
  .homepage .sec:nth-child(7) .logo-highlight {
    height: 146px;
    border-right: 2px solid white;
    margin: 20px 60px 20px 0; }
  .homepage .sec:nth-child(7) img {
    width: 255px; }
  .homepage .sec:nth-child(7) .slogan {
    font-family: 'montserratbold';
    font-size: 26px;
    line-height: 1.2;
    margin-left: 30px; }
  @media only screen and (max-width: 40rem) {
    .homepage .sec:nth-child(7) .flex {
      align-items: flex-start;
      border-right: 0;
      margin: 0 auto 60px; }
    .homepage .sec:nth-child(7) .slogan {
      margin: 0 auto; }
    .homepage .sec:nth-child(7) h3 {
      font-size: 17px; } }

.homepage .sec:nth-child(8) .flex {
  padding-top: 30px; }

.homepage .sec:nth-child(8) img {
  width: 33%;
  padding-right: 30px; }
  .homepage .sec:nth-child(8) img:last-child {
    padding-right: 0; }

@media only screen and (max-width: 40rem) {
  .homepage .sec:nth-child(8) img {
    width: 100%;
    padding: 5px 0 !important; } }

.homepage .sec:nth-child(9) {
  background-color: #E6E6E6;
  padding: 60px 0; }
  .homepage .sec:nth-child(9) .flex {
    margin: 60px 0 20px; }
  .homepage .sec:nth-child(9) figure {
    width: 25%;
    margin-right: 38px;
    position: relative; }
    .homepage .sec:nth-child(9) figure:last-child {
      margin-right: 0; }
    .homepage .sec:nth-child(9) figure figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(56, 32, 140, 0.54);
      font-family: 'montserratmedium';
      font-size: 22px;
      color: white;
      padding: 20px;
      text-align: center; }
  .homepage .sec:nth-child(9) span {
    font-family: 'montserratbold';
    font-size: 22px;
    line-height: 1;
    color: #38208C; }
  @media only screen and (max-width: 40rem) {
    .homepage .sec:nth-child(9) figure {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px; } }

@media only screen and (min-width: 75rem) {
  .homepage .sec:nth-child(10) {
    background-image: url("../images/section-10-asset@2x.png");
    background-position: right 100px center;
    background-size: 524px 594px; } }

.produtos .sec--hero {
  padding: 65px 0 0; }
  .produtos .sec--hero .hero-title {
    font-family: 'montserratbold';
    font-size: 120px;
    color: #38208C;
    padding-top: 220px; }
  @media only screen and (max-width: 64rem) {
    .produtos .sec--hero .hero-title {
      font-size: 60px;
      padding-top: 110px;
      line-height: 1; } }

.produtos .sec:nth-child(3) {
  padding-bottom: 150px;
  background-image: url("../images/page-produtos-embalagens-decoy.png");
  background-size: contain;
  background-position: bottom right; }
  .produtos .sec:nth-child(3) .section-title {
    text-transform: uppercase; }
  .produtos .sec:nth-child(3) .content-wrapper {
    position: relative;
    margin-top: 250px; }
    .produtos .sec:nth-child(3) .content-wrapper:after {
      content: "";
      display: block;
      width: 312px;
      height: 120px;
      position: absolute;
      top: -160px;
      right: -112px;
      background-image: url("../images/seta-estilizada-2@2x.png");
      background-size: 312px 120px; }
  .produtos .sec:nth-child(3) .card {
    text-transform: uppercase;
    padding: 18px 50px 16px;
    position: relative;
    overflow: visible; }
    .produtos .sec:nth-child(3) .card:after {
      display: block;
      content: "";
      width: 63px;
      height: 63px;
      background-image: url("../images/icons/icon-check-2@2x.png");
      background-size: contain;
      position: absolute;
      right: -31px;
      top: 50%;
      margin-top: -31px; }
  .produtos .sec:nth-child(3) .card-desc {
    margin: 30px 0 60px; }
  @media only screen and (max-width: 64rem) {
    .produtos .sec:nth-child(3) {
      background-image: none; }
      .produtos .sec:nth-child(3) .content-wrapper:after {
        content: none; } }
  @media only screen and (max-width: 40rem) {
    .produtos .sec:nth-child(3) {
      padding-bottom: 50px; }
      .produtos .sec:nth-child(3) .content-wrapper {
        margin-top: 50px; }
      .produtos .sec:nth-child(3) .card-desc {
        margin: 10px 0 30px; } }

.produtos .sec:nth-child(4) {
  padding: 60px 0; }
  .produtos .sec:nth-child(4) .section-title {
    color: #4D4D4D;
    margin-bottom: 140px; }
    .produtos .sec:nth-child(4) .section-title .highlight {
      color: #38208C;
      text-transform: uppercase; }
      .produtos .sec:nth-child(4) .section-title .highlight--style1 {
        color: #4D4D4D;
        text-transform: none; }
  .produtos .sec:nth-child(4) article {
    position: relative;
    margin-left: 104px;
    margin-bottom: 80px; }
    .produtos .sec:nth-child(4) article:before {
      display: block;
      font-family: 'montserratbold';
      font-size: 110px;
      color: #38208C;
      position: absolute;
      top: 50%;
      left: -95px;
      margin-top: -78px;
      text-align: left; }
    .produtos .sec:nth-child(4) article:nth-child(1):before {
      content: "1"; }
    .produtos .sec:nth-child(4) article:nth-child(2):before {
      content: "2"; }
    .produtos .sec:nth-child(4) article:nth-child(3):before {
      content: "3"; }
  .produtos .sec:nth-child(4) img {
    width: 566px; }
  @media only screen and (max-width: 40rem) {
    .produtos .sec:nth-child(4) .section-title {
      margin-bottom: 30px; }
    .produtos .sec:nth-child(4) article,
    .produtos .sec:nth-child(4) img {
      margin-bottom: 40px; } }

.produtos .sec:nth-child(5) {
  background-color: #E6E6E6;
  padding: 85px 0; }
  .produtos .sec:nth-child(5) .section-title.og-color {
    color: initial; }
  .produtos .sec:nth-child(5) .highlight--style1 {
    color: #4D4D4D; }
  .produtos .sec:nth-child(5) .flex {
    padding: 45px 0 60px; }
  .produtos .sec:nth-child(5) article {
    width: calc(50% - 187px);
    margin-left: 127px;
    position: relative; }
    .produtos .sec:nth-child(5) article:before {
      display: block;
      content: "";
      width: 93px;
      height: 92px;
      position: absolute;
      left: -127px;
      background-size: contain;
      background-repeat: no-repeat; }
    .produtos .sec:nth-child(5) article:nth-child(-n+6) {
      margin-bottom: 90px; }
    .produtos .sec:nth-child(5) article:nth-child(odd) {
      margin-right: 60px; }
    .produtos .sec:nth-child(5) article:nth-child(1):before {
      background-image: url("../images/icons/icon-biologico@2x.png"); }
    .produtos .sec:nth-child(5) article:nth-child(2):before {
      background-image: url("../images/icons/icon-inovacao@2x.png");
      width: 123px;
      height: 122px;
      left: -147px; }
    .produtos .sec:nth-child(5) article:nth-child(3):before {
      background-image: url("../images/icons/icon-economico@2x.png"); }
    .produtos .sec:nth-child(5) article:nth-child(4):before {
      background-image: url("../images/icons/icon-colaboracao@2x.png"); }
    .produtos .sec:nth-child(5) article:nth-child(5):before {
      background-image: url("../images/icons/icon-saude@2x.png"); }
    .produtos .sec:nth-child(5) article:nth-child(6):before {
      background-image: url("../images/icons/icon-ciencia@2x.png"); }
    .produtos .sec:nth-child(5) article:nth-child(7):before {
      background-image: url("../images/icons/icon-eficiente@2x.png"); }
    .produtos .sec:nth-child(5) article:nth-child(8):before {
      background-image: url("../images/icons/icon-sustentavel@2x.png"); }
    .produtos .sec:nth-child(5) article .article-title {
      font-family: 'montserratextrabold'; }
  @media only screen and (max-width: 40rem) {
    .produtos .sec:nth-child(5) .flex {
      flex-direction: column; }
    .produtos .sec:nth-child(5) article {
      width: initial; }
      .produtos .sec:nth-child(5) article:nth-child(-n+6) {
        margin-bottom: initial; }
      .produtos .sec:nth-child(5) article:nth-child(odd) {
        margin-right: initial; } }

.produtos .sec:nth-child(6) {
  background-image: url("../images/embalagens-decoy@2x.png");
  background-size: contain;
  background-position: bottom left 100px;
  padding: 80px 0; }
  .produtos .sec:nth-child(6) .flex {
    margin-top: 80px;
    flex-wrap: wrap; }
  .produtos .sec:nth-child(6) .button-secondary img {
    width: 56px;
    height: 50px;
    margin-left: 30px; }
  .produtos .sec:nth-child(6) .button-secondary:first-child {
    margin-right: 25px; }
  @media only screen and (max-width: 64rem) {
    .produtos .sec:nth-child(6) {
      background: none; }
      .produtos .sec:nth-child(6) .flex {
        margin-top: 0; }
      .produtos .sec:nth-child(6) .button-secondary {
        margin: 25px 0 0; } }
  @media only screen and (max-width: 40rem) {
    .produtos .sec:nth-child(6) .button-secondary:first-child {
      margin-right: initial; } }

.produtos .sec:nth-child(7) {
  background-color: #38208C;
  color: white;
  padding: 80px 0; }
  .produtos .sec:nth-child(7) .flex {
    height: 146px;
    margin: 20px 60px 20px 0;
    justify-content: space-evenly; }
  .produtos .sec:nth-child(7) .logo-decoy-negativo {
    width: 120px; }
  @media only screen and (max-width: 40rem) {
    .produtos .sec:nth-child(7) .flex {
      flex-direction: column;
      margin: 60px 0; }
    .produtos .sec:nth-child(7) .logo-decoy-negativo {
      width: 60px; }
    .produtos .sec:nth-child(7) .button-primary {
      margin: 50px auto; }
    .produtos .sec:nth-child(7) h3 {
      font-size: 17px; } }

.quem-somos .sec--hero {
  background-image: url("../images/page-quem-somos-hero-bg@2x.png");
  background-position: top center;
  background-size: cover;
  padding: 65px 0 0; }
  .quem-somos .sec--hero .hero-title {
    font-family: 'montserratbold';
    font-size: 120px;
    color: #38208C;
    padding-top: 220px; }
  @media only screen and (max-width: 64rem) {
    .quem-somos .sec--hero .hero-title {
      font-size: 60px;
      padding-top: 110px;
      line-height: 1; } }

.quem-somos .sec:nth-child(2) .grid-x {
  margin-bottom: 50px; }
  .quem-somos .sec:nth-child(2) .grid-x:nth-child(n+5) {
    margin-bottom: 0; }

.quem-somos .sec:nth-child(2) .img-wrapper--1 {
  margin-right: 40px; }

.quem-somos .sec:nth-child(2) .img-wrapper--2 {
  margin: 0 0 50px; }

.quem-somos .sec:nth-child(2) .img-wrapper--3 {
  position: relative; }
  .quem-somos .sec:nth-child(2) .img-wrapper--3:after {
    content: "";
    display: block;
    width: 312px;
    height: 120px;
    position: absolute;
    top: -40px;
    right: -156px;
    background-image: url("../images/seta-estilizada@2x.png");
    background-size: 312px 120px; }

.quem-somos .sec:nth-child(2) .paragraph-wrapper {
  margin: 100px 0 0 40px; }

.quem-somos .sec:nth-child(2) .quote {
  margin: 90px 0 30px; }

@media only screen and (max-width: 64rem) {
  .quem-somos .sec:nth-child(2) .img-wrapper {
    margin: 0 0 50px; }
    .quem-somos .sec:nth-child(2) .img-wrapper--2 {
      margin: 50px 0; }
    .quem-somos .sec:nth-child(2) .img-wrapper:after {
      content: none; }
  .quem-somos .sec:nth-child(2) .paragraph-wrapper {
    margin: 0 auto; } }

@media only screen and (max-width: 40rem) {
  .quem-somos .sec:nth-child(2) .img-wrapper--2 {
    margin: 0 auto; }
  .quem-somos .sec:nth-child(2) .quote {
    margin: 45px 0; } }

.quem-somos .sec:nth-child(3) {
  background-color: #E6E6E6;
  background-image: linear-gradient(#E6E6E6 80%, #FFFFFF 20%); }
  .quem-somos .sec:nth-child(3) .lab-desc,
  .quem-somos .sec:nth-child(3) .team-desc {
    font-family: 'montserratlight';
    font-size: 23px;
    color: #38208C;
    display: block;
    text-align: center; }
  .quem-somos .sec:nth-child(3) .team-desc {
    margin: 60px auto; }
  .quem-somos .sec:nth-child(3) .lab-desc {
    margin: 60px auto 0; }

.quem-somos .sec:nth-child(5) {
  background-image: url("../images/page-quemsomos-manifesto-bg-crop-optimized.png");
  background-size: cover;
  background-position: center top 250px; }
  .quem-somos .sec:nth-child(5) .section-title {
    color: white;
    text-align: center; }
  .quem-somos .sec:nth-child(5) .card {
    margin-bottom: 185px; }
    .quem-somos .sec:nth-child(5) .card .button-primary {
      margin: 60px 0; }
  @media only screen and (max-width: 40rem) {
    .quem-somos .sec:nth-child(5) .card {
      margin-bottom: 0; } }

.owl-quemsomos .card {
  width: 100%;
  height: 340px; }
  @media only screen and (max-width: 40rem) {
    .owl-quemsomos .card {
      width: 100%;
      height: initial; } }

.owl-quemsomos .owl-item:nth-child(odd) .card {
  background-color: #444; }

.owl-quemsomos .owl-item:nth-child(even) .card {
  background-color: #606060; }
