.produtos .sec
	&--hero
		padding: 65px 0 0
		.hero-title
			font-family: 'montserratbold'
			font-size: 120px
			color: $color-primary
			padding-top: 220px
		@media only screen and (max-width: 64rem)
			.hero-title
				font-size: 60px
				padding-top: 110px
				line-height: 1
	&:nth-child(3)
		padding-bottom: 150px
		.grid-container
			background:
				image: url('../images/page-produtos-embalagens-decoy.png')
				size: contain
				position: bottom -25px right
		.section-title
			text-transform: uppercase
		.content-wrapper
			position: relative
			margin-top: 150px
			padding-bottom: 100px
			&:after
				content: ""
				display: block
				width: 312px
				height: 120px
				position: absolute
				top: -160px
				right: -112px
				background:
					image: url('../images/seta-estilizada-2@2x.png')
					size: 312px 120px
		.card
			text-transform: uppercase
			padding: 18px 50px 16px
			position: relative
			overflow: visible
			&:after
				display: block
				content: ""
				width: 63px
				height: 63px
				background:
					image: url('../images/icons/icon-check-2@2x.png')
					size: contain
				position: absolute
				right: -31px
				top: 50%
				margin-top: -31px
		.card-desc
			margin: 30px 0 60px
		@media only screen and (max-width: 64rem)
			padding-bottom: 50px
			.grid-container
				background: none
			.content-wrapper
				margin-top: 50px
				padding-bottom: 0
				&:after
					content: none
			.card-desc
				margin: 10px 0 30px
	&:nth-child(4)
		padding: 60px 0
		.section-title
			color: #4D4D4D
			margin-bottom: 140px
			.highlight
				color: $color-primary
				text-transform: uppercase
				&--style1
					text-transform: none
		article
			position: relative
			margin-left: 104px
			margin-bottom: 80px
			&:before
				display: block
				font-family: 'montserratbold'
				font-size: 110px
				color: $color-primary
				position: absolute
				top: 50%
				left: -95px
				margin-top: -78px
				text-align: left
			&:nth-child(1):before
				content: "1"
			&:nth-child(2):before
				content: "2"
			&:nth-child(3):before
				content: "3"
		img
			width: 80%
			margin: 0 auto
		@media only screen and (max-width: 40rem)
			article,
			.section-title
				margin-bottom: 40px
			img
				width: 60%
	&:nth-child(5)
		background-color: #E6E6E6
		padding: 85px 0
		.section-title.og-color
			color: initial
			margin-bottom: 0
		.highlight--style1
			color: #4D4D4D
		.flex
			padding: 45px 0 60px
		article
			width: calc(50% - 187px)
			margin-left: 127px
			position: relative
			&:before
				display: block
				content: ""
				width: 93px
				height: 92px
				position: absolute
				left: -127px
				background-size: contain
				background-repeat: no-repeat
			&:nth-child(-n+6)
				margin-bottom: 90px
			&:nth-child(odd)
				margin-right: 60px
			&:nth-child(1):before
				background-image: url('../images/icons/icon-biologico@2x.png')
			&:nth-child(2):before
				background-image: url('../images/icons/icon-inovacao@2x.png')
				width: 123px
				height: 122px
				left: -147px
			&:nth-child(3):before
				background-image: url('../images/icons/icon-economico@2x.png')
			&:nth-child(4):before
				background-image: url('../images/icons/icon-colaboracao@2x.png')
			&:nth-child(5):before
				background-image: url('../images/icons/icon-saude@2x.png')
			&:nth-child(6):before
				background-image: url('../images/icons/icon-ciencia@2x.png')
			&:nth-child(7):before
				background-image: url('../images/icons/icon-eficiente@2x.png')
			&:nth-child(8):before
				background-image: url('../images/icons/icon-sustentavel@2x.png')
			.article-title
				font-family: 'montserratextrabold'
		@media only screen and (max-width: 40rem)
			.flex
				flex-direction: column
			article
				width: initial
				&:nth-child(-n+6)
					margin-bottom: initial
				&:nth-child(odd)
					margin-right: initial
	&:nth-child(6)
		background:
			image: url('../images/embalagens-decoy@2x.png')
			size: contain
			position: bottom left 100px
		padding: 80px 0
		.flex
			margin-top: 80px
			flex-wrap: wrap
		.button-secondary
			img
				width: 56px
				height: 50px
				margin-left: 30px
			&:first-child
				margin-right: 25px
		@media only screen and (max-width: 64rem)
			background: none
			.flex
				margin-top: 0
			.button-secondary
				margin: 25px 0 0
		@media only screen and (max-width: 40rem)
			.button-secondary:first-child
				margin-right: initial
	&:nth-child(7)
		background-color: $color-primary
		color: white
		padding: 80px 0
		.flex
			height: 146px
			margin: 20px 60px 20px 0
			justify-content: space-evenly
		.logo-decoy-negativo
			width: 120px
		@media only screen and (max-width: 40rem)
			.flex
				flex-direction: column
				margin: 60px 0
			.logo-decoy-negativo
				width: 60px
			.button-primary
				margin: 50px auto
			h3
				font-size: 17px
