.quem-somos .sec
	&--hero
		background:
			image: url('../images/page-quem-somos-hero-bg@2x.png')
			position: top center
			size: cover
		padding-top: 65px
		.hero-title
			font-family: 'montserratbold'
			font-size: 154px
			color: $color-primary
			padding-top: 220px
